body {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .nav-item {
    font-family: Signika, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #444;
}

a {
    text-decoration: done;
    color: #444;
}

a:hover {
    color: #ff9000;
}

::selection {
    color: #fff;
    background-color: #FF9000;
}

.full-width {
    background-color: white;
}

.bg-palm {
    background-image: url('../images/site_bg.jpg'); 
    background-color: #7da858;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100% !important; 
    margin: 0 auto; 
    left: 0; 
    right: 0;
}

header {
    background-position: top;
}

footer {
    background-position: bottom;
}

.top-shadow {
    box-shadow: inset 0 18px 22px -18px rgba(0,0,0,.55);
}

.bottom-shadow {
    box-shadow: inset 0 -18px 22px -18px rgba(0,0,0,.55);
}

.top-bottom-shadow {
  box-shadow: 
    inset 0 18px 22px -18px rgba(0,0,0,.55), 
    inset 0 -18px 22px -18px rgba(0,0,0,.55);
}

/* zoom */
.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.05); /* Zoom in effect */
    /*cursor: pointer;*/
}

.zoom-out {
    transition: transform .2s;
}

.zoom-out:hover {
    transform: scale(0.9);
}
/* /zoom */

.btn-primary {
    background-color: #ff9000;
    border-color: #ff9000;
    color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #ff9000;
    border-color: #ff9000;
    color: #fff;
}

.btn-primary:hover {
    background-color: #F38A00;
    border-color: #F38A00;
} 

.navbar-brand img {
    width: 100%;
}

.navbar-toggler { min-height: 40px; }

.navbar-toggler {
    border-color: rgba(255,255,255,0.6);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-pills {
    gap: 0.5rem; /* separa los elementos entre sí */
}

.nav {
    display: flex; /* aseguramos flexbox */
}

.nav-link {
    color: #f8f9fa;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 1.5rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ff9000;
}

.nav-pills .nav-link:hover {
    background-color: #ff9000;
    color: #f8f9fa;
}

.nav-link:focus {
    color: #f8f9fa;
}

.nav-tabs {
  border-bottom: none;
  border-right: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 0;
  margin-bottom: 2px;
  text-align: left;
  color: black;
  font-size: larger !important;
  font-weight: bolder;
}

.nav-tabs .nav-link:hover {
  box-shadow: 0 0 0 .25rem #ff900026;
}

.nav-tabs .nav-link.active {
  border-color: #ff9000;
  border: 1px solid transparent !important;
  background-color: #fff;
  font-weight: 600;
  box-shadow: 0 0 0 .25rem #ff900026;
}


.flip-horizontal {
    transform: scaleX(-1);
}

.price {
    font-size: x-large;
    font-weight: bold;
}

/* stars */
.star-1::before { content: '\2605'; }
.star-2::before { content: '\2605 \2605'; }
.star-3::before { content: '\2605 \2605 \2605'; }
.star-4::before { content: '\2605 \2605 \2605 \2605'; }
.star-5::before { content: '\2605 \2605 \2605 \2605 \2605'; }

/* Aplicar estilo a las estrellas */
.star-1::before,
.star-2::before,
.star-3::before,
.star-4::before,
.star-5::before {
    font-size: 1.5em; /* Tamaño de las estrellas */
    color: #ff9000;  /* Color de las estrellas */
}
/* /stars */

/* buscador */
.tour-search-form .form-title {
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 18px rgba(0,0,0,0.1) inset;
    background: #333;
}

.tour-search-form {
    background: #404040;
    border: 1px solid rgba(0,0,0,0.1);
}

.tour-search-form input, .tour-search-form select {
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 18px rgba(0,0,0,0.1) inset;
    background: #333;
    color: #ccc;
    border: 1px solid #2f2f2f;
}

.tour-search-form label {
    color: #ccc;
}

.tour-search-form .form-title h5 {
    color: #ccc;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
}

.tour-search-form .btn-primary {
    padding: .75rem 1.75rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    /*border: 1px solid rgba(0,0,0,0.1);*/
}

.tour-search-form .btn-container {
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1)!important;
    border: 4px solid #333;
    display: inline-block;
}

#calendarBody td {
  height: 48px;
  vertical-align: middle;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #ff9000;
    border-color: #ff9000;
    box-shadow: 0 0 0 .25rem #ff900026;
}
/* /buscador */

/* focus */
*:focus, *:focus-visible {
    border-color: #ff9000;
    outline: 2px solid #ff9000;
    box-shadow: 0 0 0 .25rem #ff900026;
}        

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: #ff9000;
    box-shadow: 0 0 0 .25rem #ff900026;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
    box-shadow: none;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
    outline: 2px solid #ff9000;
    outline-offset: 2px;
}

.form-select:focus {
    border-color: #ff9000;
    outline: 0;
    box-shadow: 0 0 0 .25rem #ff900026;
}

.form-control:focus {
    color: #fff;
    background-color: #333;
    border-color: #ff9000;
    outline: 0;
    box-shadow: 0 0 0 .25rem #ff900026;
}
/* /focus */

.bi {
    color: #FF9000;
    font-size: 1em;
}

.bi-arrow-left, .bi-arrow-right {
    color: white;
}

ul.tour-info {
    list-style-type: none; /* Quita las viñetas */
    padding-left: 0; /* Opcional: elimina el margen izquierdo */
}

ul.tour-info li {
    margin-bottom: 0.6rem; /* Ajusta el valor según el espacio que quieras */
}

ul.tour-info .bi {
    margin-right: 0.6rem;
}

.img-aspect-1-1 {
  aspect-ratio: 1 / 1;   /* o el que corresponda */
}

.img-aspect-4-3 {
  aspect-ratio: 4 / 3;   /* o el que corresponda */
}

.img-aspect-16-9 {
  aspect-ratio: 16 / 9;   /* o el que corresponda */
}

.image-placeholder {
    background-color: #e0e0e0; /* gris claro */
    width: 100%;
    /*aspect-ratio: 4 / 3; /* relación de aspecto, puedes ajustarlo */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-placeholder img {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    display: block;
}

.img-error {
    background-color: #e6e6e6;
    width: 164px;
}

